---
import Head from "./Head.astro";
import "../assets/app.css";
import "../assets/callouts.css";
import Navbar from "../components/Navbar.astro";
import Navigation from "../components/Navigation.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Footer from "../components/Footer.astro";

const frontmatter = Astro.props.frontmatter || {};
const showBreadcrumbs = frontmatter.showBreadcrumbs ?? Astro.props.showBreadcrumbs ?? false;
const proseMode = frontmatter.proseMode ?? Astro.props.proseMode ?? false;
const pageTitle = frontmatter.title ?? Astro.props.title ?? null;
const pageIcon = frontmatter.icon ?? Astro.props.icon ?? null;
const pageDescription = frontmatter.description ?? Astro.props.description ?? null;
const lang = Astro.url.pathname.startsWith('/en') ? 'en' : 'fr';
---

<!DOCTYPE html data-theme="dark">
<html lang={lang}>
  <Head title={pageTitle} description={pageDescription} />
  <body class="w-screen overflow-x-hidden">
    <div class="drawer">
      <input id="mobile_drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <Navbar />
        <main class="pt-32 md:pt-40 pb-14 container mx-auto px-6 py-8 min-h-[35vh]">
          {showBreadcrumbs && <div class="mb-6"><Breadcrumbs title={pageTitle} icon={pageIcon}/></div>}
          <div class:list={[
            proseMode && "prose prose-invert lg:prose-xl w-full max-w-none!",
            !proseMode && "w-full"
          ]}>
            <slot />
          </div>
        </main>
        <Footer />
      </div>
      <div class="drawer-side">
        <label for="mobile_drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <Navigation />
      </div>
    </div>
  </body>
</html>